@font-face {
    font-family: ProductSansBold;
    src: url('../fonts/Product Sans Bold.ttf');
}

@font-face {
    font-family: ProductSans;
    src: url('../fonts/Product Sans Regular.ttf');
}

:root {
    --primary: #7289DA;
    --darker: #23272A;
    --light: #FFFFFF;
    --dark: #2C2F33;
    --patreon: #f96854;
    --success: #49b756;
    --error: #dd2525;
}

html, body {
    height: 100%;
    width: 100%;
    color: var(--light);
    background: var(--dark);
    font-family: ProductSans, sans-serif;
}

h1 {
    font-family: ProductSansBold, sans-serif;
    font-size: 50px;
    border-bottom: 3px solid var(--light);
    padding: 0 35px 15px 35px;
}

p {
    font-size: 20px;
    margin: 25px 0 25px 0;
}

a {
    font-size: 20px;
    color: var(--light);
    text-decoration: none;
}

i {
    font-size: 15px;
    margin: 5px;
}

.loading-bar {
    z-index: 2;
    width: 0;
    height: 5px;
    position: absolute;
    background: var(--primary);
    animation-delay: 3s;
    animation-duration: 1s;
}

.loader {
    height: 100%;
    width: 100%;
    background: var(--darker);
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    animation-delay: 2s;
    animation-duration: 2s;
}

.loader-img {
    height: 100px;
    margin: 25px;
    animation-duration: 2s;
}

.loader h2 {
    font-size: 55px;
    font-family: ProductSansBold, sans-serif;
    margin: 25px;
    animation-duration: 2s;
    text-align: center;
}

.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-size: 80%;
    background-clip: padding-box;
    background: no-repeat center;
}

.wrapper div {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.button {
    padding: 17px 75px 17px 75px;
    border-radius: 4px;
    background: var(--darker);
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: .2s ease-in-out;
    text-align: center;
}

.button:hover {
    font-size: 22px;
}

.discord {
    background: var(--primary);
}

.patreon {
    background: var(--patreon);
}

.success {
    background: var(--success);
}

.success-text {
    color: var(--success);
}

.error-text {
    color: var(--error);
}

@media screen and (max-width: 800px) {
    .loader h2 {
        font-size: 45px;
    }

    .wrapper div {
        flex-direction: column;
    }

    .button {
        width: 100%;
    }

    h1 {
        padding: 0 0 20px 0;
    }

    p {
        margin: 25px;
    }
}

@media screen and (max-width: 500px) {
    .button {
        padding: 17px 50px 17px 50px;
    }
}