<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Groovy Premium </title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/logo.png') }}">
    </head>
    <body>
        <div class="wrapper">
            <div class="box">
                <h1><b>Groovy</b> Premium</h1>
                <p class="success-text">Success! Enjoy your new features!</p>
                <a href="https://groovybot.gq/support" class="discord" target="_blank"><i class="fas fa-question-circle"></i> Support</a>
                <a href="#" class="success"><i class="fas fa-check"></i> Success</a>
            </div>
        </div>
    </body>
</html>
